[submodule "apps/foundry-erc20/lib/forge-std"]
	path = apps/foundry-erc20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "apps/pyth-oracle/lib/forge-std"]
	path = apps/pyth-oracle/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "apps/pyth-oracle/lib/pyth-sdk-solidity"]
	path = apps/pyth-oracle/lib/pyth-sdk-solidity
	url = https://github.com/pyth-network/pyth-sdk-solidity
[submodule "apps/openzeppelin-upgrades/lib/openzeppelin-foundry-upgrades"]
	path = apps/openzeppelin-upgrades/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "apps/eip-7702-gas-sponsorship/eip-7702-gas-sponsorship/lib/forge-std"]
	path = apps/eip-7702-gas-sponsorship/eip-7702-gas-sponsorship/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "apps/eip-7702-gas-sponsorship/eip-7702-gas-sponsorship/lib/openzeppelin-contracts"]
	path = apps/eip-7702-gas-sponsorship/eip-7702-gas-sponsorship/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
