.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 94vh;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 
  10px -10px 30px 10px #2C1A16, /* soft blue glow on bottom right */
  -10px 10px 30px 10px #8929e7; /* soft purple glow on top left */
}

.login-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-card {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(248, 244, 216);
}

.profile-card h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color:rgb(0, 0, 0)
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: auto;
}

.logo-big {
  width: 150px;
}

.sign-button {
  background-color: grey;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px 0;
  font-size: 16px;
}

.sign-button:hover {
  background-color: darkgrey;
}


button.sign-message-button {
  background-color: rgb(247, 228, 150);
  color: rgb(67, 42, 34);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px auto;
  font-size: 16px;
}

button.sign-message-button.honey {
  background-color: #fcd69c;
}

button.disconnect-button {
  background-color: #b94b4b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px auto;
  font-size: 16px;
}

.sign-button img {
  margin-right: 10px;
  vertical-align: middle;
  width: 20px; /* Adjust the width as needed */
  height: auto; /* This maintains the aspect ratio */
}

.google-button {
  background-color: #1b1c1d; /* Google's brand color */
}

.twitter-button {
  background-color: #1b1c1d; /* Twitter's brand color */
}

.balance-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.App-container {
  position: relative;
}