VITE_ETHEREUM_MAINNET_RPC_URL=https://cloudflare-eth.com
VITE_ETHEREUM_SEPOLIA_RPC_URL=https://0xrpc.io/sep
VITE_BERACHAIN_MAINNET_RPC_URL=https://rpc.berachain.com
VITE_BERACHAIN_BEPOLIA_RPC_URL=https://bepolia.rpc.berachain.com
