@page "/"

<PageTitle>Berachain Explorer - Home</PageTitle>

<div class="row text-center">
    <div class="col-12">
        <h1 class="text-success">Latest Actions</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <LatestBlocks />
    </div>
    <div class="col">
        <LatestTransactions />
    </div>
</div>


