logLevel: warn

server:
  httpHostV4: "0.0.0.0"
  httpPortV4: 4000

metrics:
  enabled: true
  hostV4: "0.0.0.0"
  port: 4001

database:
  evmJsonRpcCache:
    connectors:
      - id: memory-cache
        driver: memory
        memory:
          maxItems: 10000
      # - id: postgres-cache
      #   driver: postgresql
      #   postgresql:
      #     connectionUri: >-
      #       postgres://YOUR_USERNAME_HERE:YOUR_PASSWORD_HERE@your.postgres.hostname.here.com:5432/your_database_name
      #     table: rpc_cache
    policies:
      - network: "*"
        method: "*"
        finality: finalized
        connector: memory-cache
        ttl: 0
      - network: "*"
        method: "*"
        finality: unfinalized
        connector: memory-cache
        ttl: 5s

projects:
  - id: main
    rateLimitBudget: global
    networks:
      - architecture: evm
        evm:
          chainId: 80069
        failsafe:
          - matchMethod: "*"
            timeout:
              duration: 8s
            retry:
              maxAttempts: 5
              delay: 500ms
              backoffMaxDelay: 10s
              backoffFactor: 0.3
              jitter: 200ms
            hedge:
              delay: 3000ms
              maxCount: 2
    upstreams:
      - id: bepolia-official
        type: evm
        endpoint: https://bepolia.rpc.berachain.com
        rateLimitBudget: global
        evm:
          chainId: 80069
        failsafe:
          - matchMethod: "*"
            timeout:
              duration: 5s
            retry:
              maxAttempts: 2
              delay: 500ms
              backoffMaxDelay: 10s
              backoffFactor: 0.3
              jitter: 100ms

rateLimiters:
  budgets:
    - id: global
      rules:
        - method: "*"
          maxCount: 1000
          period: 1s
