@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap");

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #19191a;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

.App {
  text-align: center;
  font-family: "Inter", sans-serif;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
}

form {
  display: grid;
  grid-gap: 10px;
}

.normal-weight {
  font-weight: normal;
}


.submit-button {
    background-color: #a799ff;
    font-family: "Inter", sans-serif;
    border-radius: 300px;
    cursor: pointer;
    border: none;
    color: #18171a;
    padding: 12px 24px;
    font-weight: 600;
    font-size: 1.6rem;
    width: 304px;
    height: 48px;
    line-height: 0;
}

button:hover {
  background-color: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05)
    ),
    linear-gradient(0deg, #a799ff, #a799ff), #191919;
}

button:active {
  background: #6851ff;
}

.sign-in-button {
  border-radius: 8rem;
  font-size: 1.8rem;
  padding: 1.6rem 2.4rem;
}

.sign-in-container {
  margin-top: 10rem;
}

.disconnect-button {
  background-color: #ff9b80;
}

.disconnect-button:hover {
  background-color: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05)
    ),
    linear-gradient(0deg, #ff9b80, #ff9b80), #191919;
}

.disconnect-button:active {
  background-color: #d43100;
}

.wallet-container {
  background-color: #383838;
  width: fit-content;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0px 4px 24px rgba(50, 50, 50, 0.42);
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  background: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.2rem 1.6rem;
  gap: 1.2rem;
  width: 300px;
  height: 48px;
  border: 1px solid #dddbe0;
  border-radius: 10px;
  outline: none;
}

.status-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}

.circle {
  background-color: #ffd594;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
}

.disconnected {
  background-color: #ff9b80;
}

.connected {
  background-color: #90f0d3;
}

.divider {
  background-color: #ffffff70;
  margin: 20px 0 20px 0;
  width: 190px;
  height: 1px;
}

.sign-message-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}

.message-status {
  margin-top: 12px;
}
